@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.container {
	--limeGreen: #57de54;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	max-height: 4.125rem;
	margin-top: 0.8125rem;
	width: 20.625rem;
	border-radius: 0.75rem;
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
	background: #f8f8f8;

	> .orderImage {
		margin-left: 1.2rem;
		width: min-content;
		height: auto;
		width: 5rem;
		margin-top: 0.6875rem;
		margin-bottom: 0.6875rem;
	}

	> .textContainer {
		//margin-right: 0.75rem;
		margin-left: 0.5rem;
		margin-right: 0.75rem;
		width: 7.75rem;
		padding: 0;

		> .orderName {
			font-family: "Inter";
			font-weight: 700;
			font-size: 1rem;
			line-height: 1.1875rem;
		}

		> .waitTime {
			font-family: "Inter";
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 0.9375rem;
			color: #b1b1b1;
		}
	}

	> .orderButton {
		border: none;
		background: var(--limeGreen);
		height: 2.875rem;
		width: 5.75rem;
		border-radius: 0.75rem;
		font-family: "Inter";
		font-weight: 700;
		color: white;
		font-size: 1.2rem;
		//margin-left: 0.75rem;
		margin-right: 1rem;

		&:hover {
			filter: brightness(0.8);
			cursor: pointer;
		}
	}
}
