@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 8%;
    margin-right: 8%;

    >.sectionTitle{
        font-size: 1rem;
        line-height: 1.1875rem;
        text-decoration: underline;
    }
}

.landingPage{
    //@media only screen and (max-width: 50rem){
        --limeGreen: rgb(126, 219, 103);
        font-family: 'Inter';

        >.header{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            >.mainTitle{
                //@media only screen and (max-width: 50rem){
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.4375rem;
                    margin-top: 2.125rem;
                    margin-bottom: 0.8125rem;
                //}
            }
            >.mainSubtitle{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.1875rem;
                padding-left: 20%;
                padding-right: 20%;
                text-align: center;
        
                >#subtitleBold{
                    font-weight: 700;
                }
            }

            >.mainOrderButton{
                margin-top: 3.25rem;
                background: var(--limeGreen);
                color: white;
                border: none;
                width: 41.8%;
                height: 3.3125rem;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 1rem;

                &:hover{
                    filter: brightness(0.9);
                    cursor: pointer;
                }
            }
        }

        >.instantOrder{
            margin-top: 4.4375rem;
            @include section;
            // display: flex;
            // justify-content: center;
            // flex-direction: column;
            // align-items: left;
            // margin-left: 8%;
            // margin-right: 8%;
            //background: orange;

            // >.sectionTitle{
            //     font-size: 1rem;
            //     line-height: 1.1875rem;
            //     text-decoration: underline;

            // }
        }

        >.pendingOrders{
            margin-top: 1.875rem;
            @include section;

        }
    //}
}