.pendingCard {
	--greenBar: #57de54;
	--redBar: #de5454;
	--orangeBar: #dec854;

	margin-top: 0.75rem;
	height: 10rem;
	width: 20.625rem;
	background: #f8f8f8;
	border-radius: 0.75rem;
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	> .bar {
		border-radius: 0.75rem;
		height: 10px;
		margin-left: 0.5rem;
	}

	> .pending {
		background: var(--redBar);
		width: 17.5%;
	}

	> .inProgress {
		background: var(--orangeBar);
		width: 50%;
	}

	> .completed {
		width: 95%;
		background: var(--greenBar);
	}

	> .content {
		display: flex;
		flex-direction: row;
		margin-top: 0.7rem;
		margin-left: 0.7rem;

		> .textContainer {
			margin-left: 1rem;
			display: flex;
			flex-direction: column;

			> .orderTitle {
				font-weight: 700;
				font-size: 1.25rem;
				line-height: 1.5rem;
			}

			> .orderDesc {
				margin-top: 3px;
				width: 11.3125rem;
				height: 3.75rem;
				overflow-y: auto;
			}
		}

		> img {
			width: 5rem;
			height: 5rem;
			margin-top: 0.6875rem;
			margin-bottom: 0.6875rem;
		}
	}

	> .status {
		margin-left: 60%;
		margin-top: 0.25rem;
		width: 7.25rem;
		height: 2rem;
		border-radius: 0.75rem;
		border: none;
		font-family: "Inter";
		font-size: 1rem;
		font-weight: 700;
		color: white;
	}

	> .buttonPending {
		background: var(--redBar);
	}

	> .buttonProgress {
		background: var(--orangeBar);
	}

	> .buttonReady {
		background: var(--greenBar);
	}
}
