.app-container {
	/* display: flex;
	justify-content: center; */
	width: 100vw;
}

.sections-container {
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	gap: 20px;
}

.section {
	/* width: 37rem; */
	flex: 1;
}

.noneMessage {
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1730px) {
	.section {
		width: 34rem;
	}
}

/* stats page */

.stats-page {
	width: 100vw;
	height: calc(100vh - 5rem);
}
